include *.md *.txt LICENSE requirements.txt *.db
graft astrodom/icons
graft astrodom/config
exclude astrodom *.db
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude astrodom.egg-info *
recursive-exclude dist *

