include *.md *.txt LICENSE requirements.txt  
graft astrodom/icons

prune astrodom/config
include astrodom/config/config-default.json
include astrodom/config/configFilters.json
include astrodom/config/profile-*.json

recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude astrodom.egg-info *
recursive-exclude dist *

